{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"><head><title>HSC--- </title>
    <style type="text/css">
        body{ margin:0px;font-family:verdana,Arial;color:#000;font-family:Verdana, Geneva, sans-serif; font-size:16px;}
        a{color:#000;text-decoration:none;} 
        .graph-image img{display:inline;position:fixed;align-items: center;}
        .table_ssc{border:2px solid #eeeff0; background-color: #eeeff0;padding:0.1em;}
        table th, table td {border:2px solid #eeeff0; background-color: #eeeff0;padding:0.1em;}
        table{
            -webkit-print-color-adjust: exact; 
        }
        body{
          background-image:url('/static/images/logo_opacity.png');
          background-repeat: no-repeat;
          background-position: center;
          font-size:10px;
         
        }
    </style></head>
    <body onload="self.print()">
    <center>
    <table   width="100%" border="0" align="center" style="margin-bottom: 10px;">
        <thead style=" background-color: #a6d1fb; color: #e03838;">
          <tr><th width="10%" style=" background-color:  #a6d1fb; color: #0f0f0f; padding: 15px; margin-bottom: 15px;"><img id="graph-image" height="80px" src="/static/images/gmrwc_logo.png" alt="" style=" left: 0; right: 0; position: relative;">
          </th>
          <th width="65%" align="left" style=" background-color:  #a6d1fb; color: #1c0b0b; padding: 15px; margin-bottom: 15px;">Government Republic of Bangladesh<p style="font-size: 25px;"><b>Govt. Mujibur Rahman Women's college, Bogura.</b></p></th>

          <th width="25%" align="right" style=" background-color:  #a6d1fb; color: #582a2a; padding: 15px; margin-bottom: 15px;"><p style="font-size: 20px;"><b>HSC Admission 2024-25</b></p> Student Copy</th>

      </tr></thead>
      <tbody>

      </tbody>
      </table>
      <table width="100%" border="0" cellspacing="3" cellpadding="3" align="center">
          
        <tbody>
            <tr><td style="padding: 10px;" width="30px" height="30px" valign="middle"><p style="font-size: 20px;"><b>Class Roll:<br>Group: </b></p></td>
            <td style="padding: 10px;" width="30px" height="30px" align="right" valign="middle">Session: <br>Section: </td>

       </tr></tbody>
       </table>
       
    <fieldset>
                            
        <table width="100%" border="0" align="center">
          
          <tbody>
            <tr>
                <td rowspan="7" colspan="1" style="padding: 10px;" valign="middle">
                    
                    <img width="200px" height="200px" src="/static/images/gmrwc_logo.png" alt="">
                    
                </td>
                
            </tr>
            
            <tr>
                <td width="250px" colspan="2" align="left" valign="middle"><b></b>&nbsp;Name:</td>
                <td width="550px" colspan="3" align="left" valign="middle" class="black12"></td>
                
            </tr>
            <tr>
                <td colspan="2" align="left" valign="middle">&nbsp;Father's Name:</td>
                <td colspan="3" align="left" valign="middle" class="black12"></td>
                
            </tr>
            <tr>
                <td colspan="2" align="left" valign="middle">&nbsp;Mother's Name:</td>
                <td colspan="3" align="left" valign="middle" class="black12"></td>
                
            </tr>
            <tr>
                <td colspan="2" align="left" valign="middle">&nbsp;Mobile No.:</td>
                <td colspan="3" align="left" valign="middle" class="black12"></td>
                
            </tr>
            <tr>
                <td colspan="2" align="left" valign="middle">&nbsp;Email:</td>
                <td colspan="3" align="left" valign="middle" class="black12"></td>
                
            </tr>
            <tr>
                <td colspan="2" align="left" valign="middle">&nbsp;Birth Registration:</td>
                <td colspan="3" align="left" valign="middle" class="black12"></td>
                
            </tr>
           

        </tbody></table>
      </fieldset>
      
      <fieldset>
                            
        <table width="100%" border="0" cellspacing="3" cellpadding="3" align="center">
          
          <tbody>
            
            
            <tr>
                <td width="250px" colspan="2" align="left" valign="middle">&nbsp;Gender :</td>
                <td width="550px" colspan="3" align="left" valign="middle" class="black12"></td>
                <td width="250px" colspan="2" align="left" valign="middle">&nbsp;Blood Group: </td>
                <td width="550px" colspan="3" align="left" valign="middle" class="black12"></td>
                
            </tr>
            <tr>
                <td width="250px" colspan="2" align="left" valign="middle">&nbsp;Date of Birth:</td>
                <td width="550px" colspan="3" align="left" valign="middle" class="black12"></td>
                
                <td colspan="2" align="left" valign="middle">&nbsp;Religion:</td>
                <td colspan="3" align="left" valign="middle" class="black12"></td>
                
            </tr>
            <tr>
                <td colspan="2" align="left" valign="middle">&nbsp;Marital Status:</td>
                <td colspan="3" align="left" valign="middle" class="black12"></td>
                <td colspan="2" align="left" valign="middle">&nbsp;Nationality:</td>
                <td colspan="3" align="left" valign="middle" class="black12"></td>
                
            </tr>
           
            
            
        </tbody></table>
      </fieldset>
      
      

      <fieldset>
                            
        <table width="100%" border="0" cellspacing="3" cellpadding="3" align="left">
          <thead>
            <tr><th colspan="5" align="left"><b>Permanent Adress</b></th>

            <th colspan="10" align="left"><b>SSC/Equivalent Result</b></th>
      
          </tr></thead>
          <tbody>
            
            
            <tr>
                <td width="250px" colspan="2" align="left" valign="middle">&nbsp;Village/Street:</td>
                <td width="550px" colspan="3" align="left" valign="middle" class="black12"></td>
                <td width="250px" colspan="2" align="left" valign="middle">&nbsp;Roll: </td>
                <td width="550px" colspan="3" align="left" valign="middle" class="black12"></td>
                <td width="250px" colspan="2" align="left" valign="middle">&nbsp;Rgistration: </td>
                <td width="550px" colspan="3" align="left" valign="middle" class="black12"></td>
                
                
            </tr>
            <tr>
                <td width="250px" colspan="2" align="left" valign="middle">&nbsp;Post-Office:</td>
                <td width="550px" colspan="3" align="left" valign="middle" class="black12"></td>
                
                <td width="250px" colspan="2" align="left" valign="middle">&nbsp;Board: </td>
                <td width="550px" colspan="3" align="left" valign="middle" class="black12"></td>
                <td width="250px" colspan="2" align="left" valign="middle">&nbsp;Group: </td>
                <td width="550px" colspan="3" align="left" valign="middle" class="black12"></td>
                
            </tr>
            <tr>
                <td colspan="2" align="left" valign="middle">&nbsp;Upazilla/PS:</td>
                <td colspan="3" align="left" valign="middle" class="black12"></td>
                <td width="250px" colspan="2" align="left" valign="middle">&nbsp;Session: </td>
                <td width="550px" colspan="3" align="left" valign="middle" class="black12"></td>
                <td width="250px" colspan="2" align="left" valign="middle">&nbsp;Passing year: </td>
                <td width="550px" colspan="3" align="left" valign="middle" class="black12"></td>
                
            </tr>
            <tr>
                <td colspan="2" align="left" valign="middle">&nbsp;District :</td>
                <td colspan="3" align="left" valign="middle" class="black12"></td>
                <td width="250px" colspan="2" align="left" valign="middle">&nbsp;CGPA (with 4th): </td>
                <td width="550px" colspan="3" align="left" valign="middle" class="black12"></td>
                <td width="250px" colspan="2" align="left" valign="middle">&nbsp;CGPA (without 4th): </td>
                <td width="550px" colspan="3" align="left" valign="middle" class="black12"></td>
                
            </tr>
            
            
        </tbody></table>
      </fieldset>
                            
      
      <fieldset>
                            
        <table width="100%" border="0" align="center">
          <thead>
                <tr><th colspan="4" align="left"><b>Subject Obtained<b></b></b></th>
  
          </tr></thead>
          <tbody>
            
            <tr>
                


                <td width="40%" align="left" valign="middle"> Bangla </td>
                <td width="10%" align="left" valign="middle"> 101-102 </td>

                


                <td width="40%" align="left" valign="middle"> English </td>
                <td width="10%" align="left" valign="middle"> 107-108 </td>

                
            </tr>
            <tr>
                


                <td align="left" valign="middle"> ICT </td>
                <td align="left" valign="middle"> 275 </td>

                


                <td align="left" valign="middle"> Physics </td>
                <td align="left" valign="middle"> 174-175 </td>

                
            </tr>
            
            <tr>
                


                <td align="left" valign="middle"> Chemistry </td>
                <td align="left" valign="middle"> 176-177 </td>

                
                
                


                <td align="left" valign="middle"> Biology </td>
                <td align="left" valign="middle"> 269-270 </td>

                
                
            </tr>
            <tr>


                <td align="left" valign="middle">    (4<sup>th</sup>&nbsp;Subject)</td>
                <td align="left" valign="middle">  </td>

            </tr>
            
            
            
            
        </tbody>
    </table>
      </fieldset>
        <table width="100%" border="0" style="margin-top: 20%;" valign="bottom">
          
            <tbody>
              
              <tr>
                  <td align="left" valign="middle"> student Signature</td>
                  <td align="left" valign="middle" class="black12">Guardian Signature</td>
                  <td align="left" valign="middle">Office Signature</td>
                  <td align="left" valign="middle" class="black12"> Principal Signature</td>
                  
              </tr>
              
              
          </tbody>
      </table>  
            

    <div class="row">
        <div class="col">
            <div class="top-left">
                
    </div>
    <div class="graph-image graph-7">
      </div>
        
        
        </div>
    </div>

</center></body></html>