{% extends 'basepage/ictparkbd_layout_admission.html' %}

{% load static %}
{% block content %}

<tr>
    <td>
        <div data-v-6f04a53f="" class="memberRegistration py-5">
            <div class="container-wrapper">
              <div class="row justify-content-md-center">
                <div class="col col-lg-10">
                  <div class="card login-body shadow-lg rounded-10 py-5">
                    <table width="100%" border="1" cellspacing="0" cellpadding="10">
                      <thead><th colspan="5" style="height: 40px; background-color: #035a4c; color: #fff;padding: 15px;font-size:20px;text-align:center;"> ADMISSION LOGIN FORM </th></thead>
                      {% if notfound %}
                      <thead style="height: 25px; background-color: #245b80; color: #fff;padding: 15px"><th colspan="5" style="height: 40px; background-color:rgb(168, 8, 8); color: #fff;padding: 20px;"> Result Not found!<br>re-Enter right information or Contact exam control room</th></thead>
                      {% endif %}
                      <tbody>
                    </tbody>
                  </table>
                  <div class="col-sm-12 form-group">
                
                    <div class="row">
                      
                       
                      <div class="col-sm-8">
                    <img src="{% static 'images/admission_header.jpg' %}" alt="" width="700">
                      </div>
                      
                  <div class="col-sm-4" style="margin:auto;">       
                  <form  id="form" class="form-row px-3" method="post" action="{% url 'admission_form' %}">
                    {% csrf_token %}
                    {%for field in form%}
                    <div class="col-sm-12 form-group" style="margin:auto;">
                      <div class="row">
                        <div class="col-sm-12" >
                          <label for="" class="col-form-label-sm m-0" style="font-size:20px;">{{ field.label_tag }}</label> 
                          <div class="loginBox">
                          {{ field }}  
                           <span class="fa fa-user"></span>
                           
                          </div> <!--  --> <div class="invalid-feedback"></div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                                 {% comment %} <div class="col-sm-12 form-group" style="margin:auto;">
                                   <div class="row">
                                     <div class="col-sm-12" >
                                       <label for="" class="col-form-label-sm m-0" style="font-size:20px;">Username</label> 
                                       <div class="loginBox">
                                        <input type="text" class="form-control" name="username" id="username" required>     
                                                 <span class="fa fa-user"></span>
                                        
                                       </div> <!--  --> <div class="invalid-feedback"></div>
                                     </div>
                                   </div>
                                 </div>
                                 <div class="col-sm-12 form-group" style="margin:auto;">
                                   <div class="row">
                                     <div class="col-sm-12" >
                                       <label for="" class="col-form-label-sm m-0" style="font-size:20px;">Password</label> 
                                       <div class="loginBox">
                                        <input type="password" class="form-control" name="password" id="password" required>  
                                                 <span class="fa fa-key"></span>
                                        
                                       </div> <!--  --> <div class="invalid-feedback"></div>
                                     </div>
                                   </div>
                                 </div> {% endcomment %}
                              
                              
                     
                   
                   
                  
                   <div class="col-sm-12 form-group">
                     <p class="text-right">
                       <button type="submit" class="btn btn-danger text-white"><span>Login</span></button>
                     </p>
                   </div>
                 </form>
               
                </div>
              </div>
            </div>
              
  
    </td>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
</tr>

{% endblock  %}
