
  {% extends 'basepage/ictparkbd_layout_admission.html' %}

  {% block content %}
  {% load static %}
  
  

  <script type="text/javascript" src="{% url 'jsi18n' %}" > </script>
  <script type="text/javascript" src="{% static 'admin/js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/SelectBox.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/SelectFilter2.js' %}"></script>
      <style>
          body {
              margin-left: 0px;
              margin-top: 20px;
              margin-right: 0px;
              margin-bottom: 20px;
              background-color: #989ea2;
              background-position: left top;
              background-repeat: repeat-x;
              background-image: url("{% static 'images/main_bg.png'%}");
          }
          .main-right {
              background-image: url("{% static 'images/main_06.png'%}");
          }
          .main-left {
              background-image: url("{% static 'images/main_04.png'%}");
  
          }
          .main-button {
              background-image: url("{% static 'images/main_08.png'%}");
  
          }
          .main-top{
              background-image: url("{% static 'images/main_02.png'%}");
  
          } 
          
        .alert {
                padding: 20px;
                background-color: #f44336; /* Red */
                color: white;
                margin-bottom: 15px;
                position: fixed;
                top: 100px;
                left: 25%;
                width: 50%;
                z-index: 1000; 
               
              }

              /* The close button */
              .closebtn {
                margin-left: 15px;
                color: white;
                font-weight: bold;
                float: right;
                font-size: 22px;
                line-height: 20px;
                cursor: pointer;
                transition: 0.3s;
              }

              /* When moving the mouse over the close button */
              .closebtn:hover {
                color: black;
              }
          .alert {
              opacity: 0;
              transition: opacity 1s; /* 600ms to fade out */
            }
           
         @media(max-width: 786px){
            .container{
              width: 100%;
              padding: 0px;
            }
          .alert {
                padding: 5px;
                background-color: #f44336; /* Red */
                color: white;
                margin-bottom: 15px;
                position: fixed;
                top: 120px;
                left:2%;
                right:2%;
                width: 96%;
                z-index: 1000; 
              }

         } 
         @media(max-width: 991px){
          fieldset{
            width: auto;
            margin-left: 20px;
          }
            .box_container{
              width: 100%;
              padding: 0px;
              margin: 2px;
            }
            #qbox-container{
              width: 100%;
              padding: 0px;
            }
            #steps-container{
              width: 100%;
              padding: 0px;
            }
  
         }
         #toast-container {
          visibility: visible;
          position: fixed;
          z-index: 999999
      }
         
       
        /* Show the snackbar when clicking on a button (class added with JavaScript) */
       
        #toast-container.show {
          visibility: visible; 
          top: 30px;
          left: 50%;
          width: 100%;/* Show the snackbar */
          /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
          However, delay the fade out process for 2.5 seconds */
          -webkit-animation: fadein 1s, fadeout 7s 8s;
          animation: fadein 1s, fadeout 7s 8s;
        }
        
        /* Animations to fade the snackbar in and out */
        @-webkit-keyframes fadein {
          from {top: 0; opacity: 0;}
          to {top: 30px; opacity: 1;}
        }
        
        @keyframes fadein {
          from {top: 0; opacity: 0;}
          to {top: 30px; opacity: 1;}
        }
        
        @-webkit-keyframes fadeout {
          from {top: 30px; opacity: 1;}
          to {top: 0; opacity: 0;}
        }
        
        @keyframes fadeout {
          from {top: 30px; opacity: 1;}
          to {top: 0; opacity: 0;}
        }
      </style>
      </head>
      
      <body>
  
        <div class="services" id="service_body">
          <div><h3 style="text-align: center;text-shadow: 2px 2px 2px rgb(11, 73, 55);color:rgb(238, 103, 103);"><u>HSC ADMISSION-2025</u></h3></div>
          
          <div data-v-6f04a53f="" class="memberRegistration py-5">
        
            <div class="container-wrapper">
              <div class="row justify-content-md-center">
                <div class="col col-lg-10">
                  <div class="card login-body shadow-lg rounded-10 py-5">
                    <div class="col-sm-12 form-group" >
        
                      <div class="progress">
                        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 0%;"></div>
                    </div>  
                  </div>
                        <div class="card-body">
        
        
                    <span class="shape"><img align="center" loading="lazy" src="{% static 'images\ictparkbd_logo.jpg' %}"><img align="center" loading="lazy" style="height:60%;margin-top:10%;rotate: -50deg;" src="{% static 'images\gmrwc_logo.png' %}"></span> 
        
                     {%if email %}
                    
                    <div class="alert alert-danger" role="alert">
                      <strong>{{email}}</strong> 
                    </div>
                    
                    {% endif %}
                    {%if phone %}
                    
                    <div class="alert alert-danger" role="alert">
                      <strong>{{phone}}</strong> 
                    </div>
                    
                    {% endif %} 
                    
                    {%if password %}
                    
                    <div class="alert alert-danger" role="alert">
                      <strong>{{password}}</strong> 
                    </div>
                    
                    {% endif %}
                    
                    {%if success %}
                    
                    <div class="alert alert-success" role="alert">
                      <strong>{{success}}</strong> 
                    </div>
                    
                    {% endif %}
                    
               
                    <form  id="form" class="form-row px-3" method="post" action="{% url 'admission_form_submit' %}" enctype="multipart/form-data" target="_blank">
                      {% csrf_token %}
                      {{form.media}}
                      <div id="qbox-container">
                        <div id="steps-container">
                            <div class="step d-block">
                              <table width="100%" border="1" cellspacing="0" cellpadding="10">
                                <thead><th colspan="5" style="height: 30px; background-color: #035a4c; color: #fff;text-shadow: 10px 10px 10px rgb(73, 25, 11);padding: 15px;font-size:23px;text-align:center;"> PERSONAL INFORMAION                                  
                                  
                                <tbody>
                                </tbody>
                              </table>
                              <div class="col-sm-12 form-group">
                        
                                <div class="row">
                                
          
                                  <div class="col-sm-6" style="margin:auto">
                                    
                                    <label for="" class="col-form-label-sm m-0">{{field.label_tag}}</label> 
                                    
                                    <div class="loginBox">
                                      <select class='form-control form-control-sm' id="purpose" name="purpose">
                                        <option value="{{ payment_purpose.id }}">
                                          {{ payment_purpose.title_en }}
                                        </option>
                                      </select>
                                      <span class="fa fa-user"></span>
                                    </div> <!--  --> <div class="invalid-feedback"></div>
                                  </div>
                                 
          
                                </div>
                              </div> 
                      <div class="col-sm-12 form-group">
                        
                        <div class="row">
                          {% for field in form %}
  
                          <div class="col-sm-6">
                            
                            <label for="" class="col-form-label-sm m-0">{{field.label_tag}}</label> 
                            
                            <div class="loginBox">
                              {{field}}
                              <span class="fa fa-user"></span>
                            </div> <!--  --> <div class="invalid-feedback"></div>
                          </div>
                          {% endfor %}
  
                        </div>
                      </div>
                    
                  <div class="col-sm-12 form-group">
                        
                    <div class="row">
                       <table width="100%" border="1" cellspacing="0" cellpadding="10">
                            <thead><th colspan="5" style="height: 30px; background-color: #035a4c; color: #fff;text-shadow: 10px 10px 10px rgb(73, 25, 11);padding: 15px;font-size:23px;text-align:center;">         Permanent Address                        
                              
                            <tbody>
                            </tbody>
                          </table>

                      
                          {% if adress_formset %}
             
                   

                        {{adress_formset.management_form}}

                        {% for form in adress_formset %}
                        
                        {% if forloop.counter == 2 %}
                          <table width="100%" border="1" cellspacing="0" cellpadding="10">
                            <thead><th colspan="5" style="height: 30px; background-color: #035a4c; color: #fff;text-shadow: 10px 10px 10px rgb(73, 25, 11);padding: 15px;font-size:23px;text-align:center;"> Present Address                                
                              
                            <tbody>
                            </tbody>
                          </table>

                        {% endif %}
                          <div class="col-sm-12 form-group">
                            <div class="row">
                              <div class="col-sm-4">
                                <label for="" class="col-form-label-sm m-0">{{form.division.label_tag}}</label>
                                 <div class="loginBox">
                                  {{form.division}}
                                  <span class="fa fa-home"></span>
                                </div> <!--  --> <div class="invalid-feedback"></div>
                              </div>
                              <div class="col-sm-4">
                                <label for="" class="col-form-label-sm m-0">{{form.district.label_tag}}</label> <div class="loginBox">
                                  {{form.district}}                      
                                  <span class="fa fa-map-marker"></span>
                                </div> <!--  --> <div class="invalid-feedback"></div>
                              </div>
                              <div class="col-sm-4">
                                <label for="" class="col-form-label-sm m-0">{{form.upazilla.label_tag}}</label> <div class="loginBox">
                                  {{form.upazilla}}                      
                                  <span class="fa fa-map-marker"></span>
                                </div> <!--  --> <div class="invalid-feedback"></div>
                              </div>
                              <div class="col-sm-4">
                                    <label for="" class="col-form-label-sm m-0">{{form.post_office.label_tag}}</label> <div class="loginBox">
                                      {{form.post_office}}                      
                                      <span class="fa fa-map-marker"></span>
                                    </div> <!--  --> <div class="invalid-feedback"></div>
                                  </div>
                               
                              <div class="col-sm-4">
                                    <label for="" class="col-form-label-sm m-0">{{form.house_or_street_no.label_tag}}</label> <div class="loginBox">
                                      {{form.house_or_street_no}}                      
                                      <span class="fa fa-map-marker"></span>
                                    </div> <!--  --> <div class="invalid-feedback"></div>
                                  </div>
                                  <div class="col-sm-4">
                                    <label for="" class="col-form-label-sm m-0">{{form.village_or_house.label_tag}}</label> <div class="loginBox">
                                      {{form.village_or_house}}                      
                                      <span class="fa fa-map-marker"></span>
                                    </div> <!--  --> <div class="invalid-feedback"></div>
                                  </div>
                              
                              
                            </div>
                          </div>
                        
                        {% endfor %}


               
              {% endif %}
                  
                </div>
              </div>
                </div>
                      <div class="step d-none">
                        <table width="100%" border="1" cellspacing="0" cellpadding="10">
                          <thead><th colspan="5" style="height: 30px; background-color: #035a4c; color: #fff;text-shadow: 10px 10px 10px rgb(73, 25, 11);padding: 15px;font-size:23px;text-align:center;"> GUARDIAN INFORMATION                                
                            
                          <tbody>
                          </tbody>
                        </table>
                        
                        <div class="col-sm-12 form-group">
                        
                          <div class="row">
                        {% for field in guardian_form %}
                        <div class="col-sm-6">
                          <label for="" class="col-form-label-sm m-0">{{field.label_tag}}</label> 
                              
                              <div class="loginBox">
                                {{field}}
                                <span class="fa fa-user"></span>
                              </div> <!--  --> <div class="invalid-feedback"></div>
                        </div>
                        {% endfor %}
                          </div>
                        </div>
                      </div>
                      <div class="step d-none">
                        <table width="100%" border="1" cellspacing="0" cellpadding="10">
                          <thead><th colspan="5" style="height: 30px; background-color: #035a4c; color: #fff;text-shadow: 10px 10px 10px rgb(73, 25, 11);padding: 15px;font-size:23px;text-align:center;"> SSC EQUIVALENT                                 
                            
                          <tbody>
                          </tbody>
                        </table>
                        <div class="col-sm-12 form-group">
                        
                          <div class="row">
                        {% for field in ssc_equivalent_form %}
                        <div class="col-sm-6">
                          <label for="" class="col-form-label-sm m-0">{{field.label_tag}}</label> 
                              
                              <div class="loginBox">
                                {{field}}
                                <span class="fa fa-user"></span>
                              </div> <!--  --> <div class="invalid-feedback"></div>
                        </div>
                        {% endfor %}
                          </div>
                        </div>
                      </div>
                      <div class="step d-none">
                        <table width="100%" border="1" cellspacing="0" cellpadding="10">
                          <thead><th colspan="5" style="height: 30px; background-color: #035a4c; color: #fff;text-shadow: 10px 10px 10px rgb(73, 25, 11);padding: 15px;font-size:23px;text-align:center;"> SUBJECT CHOICE                                 
                            
                          <tbody>
                          </tbody>
                        </table>
                        <div class="col-sm-12 form-group">
                        
                          <div class="row">
                        {{subject_form.media}}
                                    {% for field in subject_form %}
                                      {{ field.errors }}
                                      <div class="col-sm-12">
                                        <label for="" class="col-form-label-sm m-0">{{field.label_tag}}</label> 
                                            
                                            <div class="loginBox">
                                              {{field}}
                                              <span class="fa-solid fa-book-open"></span>
                                            </div> <!--  --> <div class="invalid-feedback"></div>
                                      </div>
                                    {% endfor %}
                                  </div>
                                </div>
                      </div>
                      {% comment %} <div id="success">
                        <div class="mt-5">
                         
                            <h4>Success! Your admission is done!</h4>
                            <h5>Dont Reload window untill download your admission form</h5>
                            <h4>To download admission form Click Get Admission form Button below!</h4>
                        </div>
                    </div> {% endcomment %}
          
                      <div class="step d-none">
                        <table width="100%" border="1" cellspacing="0" cellpadding="10">
                          <thead><th colspan="5" style="height: 30px; background-color: #035a4c; color: #fff;text-shadow: 10px 10px 10px rgb(73, 25, 11);padding: 15px;font-size:23px;text-align:center;"> CHECK BEFORE SUBMIT                                 
                            
                          <tbody>
                          </tbody>
                        </table>
                        <div class="col-sm-12 form-group">
                        
                          <div class="row">
                        <div class="mt-1">
                          <div class="closing-text">
  
                            <input type="hidden" value="{{group.title_en}}" name="admission_group">
  
                              <h4>Please Check your information again, You will not able to change information after submission</h4>
                              <p><input type="checkbox" required>You will be charged for admission,Are you aggree to pay?.</p>
                              <p>Click on the submit button to continue.</p>
                          </div>
                      </div>
                    </div>
                  </div>
                  
                  </div>
                  
                  
              </div>
                  <div id="q-box__buttons" >
                    <div class="loginBox">

                    <button id="prev-btn" type="button" class="d-inline-block" style="height: 40px; background-color: #035a4c; color: #fff;text-shadow: 4px 4px 4px rgb(73, 25, 11);font-size:20px;padding-left:8px;padding-right:8px;">Previous</button> 
                    <button id="next-btn" type="button" class="d-inline-block" style="height: 40px; background-color: #035a4c; color: #fff;text-shadow: 4px 4px 4px rgb(73, 25, 11);font-size:20px;padding-left:8px;padding-right:8px;">Next</button> 
                    <button id="submit-btn" type="submit" class="d-none" style="height: 40px; background-color:rgb(226, 8, 8); color: #fff;text-shadow: 4px 4px 4px rgb(73, 25, 11);font-size:20px;padding-left:8px;padding-right:8px;">Submit</button>
                    </div>
                  </div>
                         
                        
                         
                      
        
        
                      
  
        {% comment %}               
                      {% if other_adress_formset %}
                        
                      {{other_adress_formset.management_form}}
                      
                      {% for other_adress in other_adress_formset %}
                        
                        
                      <table width="100%" border="1" cellspacing="0" cellpadding="10">
                        <thead><th colspan="5" style="height: 25px; background-color: #035a4c; color: #fff;text-shadow: 5px 5px 5px rgb(73, 25, 11);padding: 15px;font-size:20px;text-align:center;"> স্বত্তাধিকারীর ঠিকানা                                 
                          </th></thead>
                        <tbody>
                        </tbody>
                      </table>
        
                      <div class="col-sm-12 form-group">
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="" class="col-form-label-sm m-0">{{other_adress.division.label_tag}}</label> <div class="loginBox">
                                  {{other_adress.division}}                      
                                  <span class="fa fa-map-marker"></span>
                                </div> <!--  --> <div class="invalid-feedback"></div>
                              </div>
        
                          <div class="col-sm-4">
                            <label for="" class="col-form-label-sm m-0">{{other_adress.district.label_tag}}</label>
                             <div class="loginBox">
                              {{other_adress.district}}
                              <span class="fa fa-home"></span>
                            </div> <!--  --> <div class="invalid-feedback"></div>
                          </div>
                          <div class="col-sm-4">
                            <label for="" class="col-form-label-sm m-0">{{other_adress.upazilla.label_tag}}</label>
                             <div class="loginBox">
                              {{other_adress.upazilla}}
                              <span class="fa fa-home"></span>
                            </div> <!--  --> <div class="invalid-feedback"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12 form-group">
                        <div class="row">
                          <div class="col-sm-4">
                            <label for="" class="col-form-label-sm m-0">{{other_adress.union.label_tag}}</label>
                             <div class="loginBox">
                              {{other_adress.union}}
                              <span class="fa fa-home"></span>
                            </div> <!--  --> <div class="invalid-feedback"></div>
                          </div>
                          <div class="col-sm-4">
                            <label for="" class="col-form-label-sm m-0">{{other_adress.village.label_tag}}</label>
                             <div class="loginBox">
                              {{other_adress.village}}
                              <span class="fa fa-home"></span>
                            </div> <!--  --> <div class="invalid-feedback"></div>
                          </div>
                          <div class="col-sm-4">
                            <label for="" class="col-form-label-sm m-0">{{other_adress.post_office.label_tag}}</label>
                             <div class="loginBox">
                              {{other_adress.post_office}}
                              <span class="fa fa-home"></span>
                            </div> <!--  --> <div class="invalid-feedback"></div>
                          </div>
                        </div>
                      </div>
                      {% endfor %} 
        
                      {% endif %}{% endcomment %}
        
                       
                      {% comment %} <div class="col-sm-4 form-group mb-0">
                        <button type="submit" class="btn btn-danger text-white"><span>সাবমিট</span></button>
                      </div>  {% endcomment %}
                      <div class="col-sm-9 form-group">
                        <p class="text-right">
                          {% comment %} <button type="submit" class="rounded-50 ml-2" style="height: 40px; background-color: #035a4c; color: #fff;text-shadow: 4px 4px 4px rgb(73, 25, 11);font-size:20px;padding-left:8px;padding-right:8px;border-radius: 50px;">সাবমিট করুন</button> {% endcomment %}
                        </p>
                      </div>
                      
                    </div>
                    </div> 
                    </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <span class="bubbleNew"><img loading="lazy" src="{%static 'images/tilokpur_logo.png'%}" class="rounded-circle" style="width: 200px;height: 200px;" /></span>
        
        </div>
        
        <!-- The actual snackbar -->
  <div id="alert" class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <div id="alert_message"></div>
</div>              
  <div id="toast-container" aria-level="polite" role="alert">
    <div class="toast toast-error" ><button class="toast-close-button" role="button">&#10006;</button>
        <div  class="toast-message" >দুঃখিত! লাল চিহ্নিত বক্সে সঠিক তথ্য দিতে হবে</div>
    </div>
  </div>
  
    
                      
      <!-- CONTAINER -->
  
     
    <!-- PRELOADER -->
    <div id="preloader-wrapper">
      <div id="preloader"></div>
      <div class="preloader-section section-left"></div>
      <div class="preloader-section section-right"></div>
  </div>
    
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>               
      
  
    <script>
      var close = document.getElementsByClassName("closebtn");
          var i;

          // Loop through all close buttons
          for (i = 0; i < close.length; i++) {
            // When someone clicks on a close button
            close[i].onclick = function(){

              // Get the parent of <span class="closebtn"> (<div class="alert">)
              var div = this.parentElement;

              // Set the opacity of div to 0 (transparent)
              div.style.opacity = "0";

              // Hide the div after 600ms (the same amount of milliseconds it takes to fade out)
              setTimeout(function(){ div.style.display = "none"; }, 1000);
            }
          }      
            
                window.onload = (event) => {
  let compulsory_subject_initialized=document.getElementsByClassName('selector-available');
  let filter_compusory=document.getElementById('id_compulsory_subject_filter_selected');
  let remove_compusory=document.getElementById('id_compulsory_subject_remove_all_link');
  
  let selector_chooser=document.getElementsByClassName('selector-chooser');
  
  
  compulsory_subject_initialized[0].style.display='none';
  selector_chooser[0].style.display='none';
  
  filter_compusory.style.display='none';
  remove_compusory.style.display='none';
  
  z= compulsory_subject_initialized.getElementsByTagName("option");
  for (i = 0; i < z.length; i++) {
  
    z[i].setAttribute('disabled','true','readonly','true');
  
  }
  
  alert(compulsory_subject_initialized.length);
  };
  
  
  
  
  const progress = (value) => {
     document.getElementsByClassName('progress-bar')[0].style.width = `${value}%`;
  }
  
     let step = document.getElementsByClassName('step');
     let prevBtn = document.getElementById('prev-btn');
     let nextBtn = document.getElementById('next-btn');
     let submitBtn = document.getElementById('submit-btn');
     let form = document.getElementsByTagName('form')[0];
     let preloader = document.getElementById('preloader-wrapper');
     let bodyElement = document.querySelector('body');
     let succcessDiv = document.getElementById('success');
     let downloadDiv = document.getElementById('downlod_form_id');
  
     let addChoiceBtn=document.getElementsByName('id_fourth_subject');
     
     form.onsubmit = () => { return false }
  
     let current_step = 0;
     let stepCount = 4
     step[current_step].classList.add('d-block');
     if(current_step == 0){
        prevBtn.classList.add('d-none');
        submitBtn.classList.add('d-none');
        nextBtn.classList.add('d-inline-block');
     }
  
  
     nextBtn.addEventListener('click', () => {
      var x, y, i, valid = true;
      var options=document.getElementById('id_compulsory_subject_to').getElementsByTagName('option');
      for(i=0;i<options.length ;i++){
      options[i].selected = 'selected';
      }
      document.getElementById('id_compulsory_subject_to').disabled='disabled';
  
  
            //document.getElementById('toast-container').style.visibility ='hidden';
        current_step++;
        let previous_step = current_step - 1;
        let flag=validateForm();
        if(( current_step > 0) && (current_step <= stepCount) && flag){
          prevBtn.classList.remove('d-none');
          prevBtn.classList.add('d-inline-block');
          step[current_step].classList.remove('d-none');
          step[current_step].classList.add('d-block');
          step[previous_step].classList.remove('d-block');
          step[previous_step].classList.add('d-none');
          if (current_step == stepCount){
            submitBtn.classList.remove('d-none');
            submitBtn.classList.add('d-inline-block');
            nextBtn.classList.remove('d-inline-block');
            nextBtn.classList.add('d-none');
          }
        } else {
          if(current_step > stepCount){
              form.onsubmit = () => { return true }
          }
        }
      progress((100 / stepCount) * current_step);
      function validateForm() {
        // This function deals with validation of the form fields
        if(current_step==4 ){
          
  
          if(document.getElementById('id_fourth_subject').value==''){
            valid= false;
          }
         /* var select=document.getElementsByName('compulsory_subject');
            var compulsory_subject=select[1];
            if(compulsory_subject.length<6){
              valid= false;
            }*/
  
          
            
  
        }
        
        x = document.getElementsByClassName("step d-block");
        //alert(current_step);
     
        y = x[0].getElementsByTagName("input");
        z= x[0].getElementsByTagName("select");
        var required1,required2,count1=0,count2=0;
        for (i = 0; i < y.length; i++) {
          // If a field is empty...
           //alert(y[i]+y[i].required);
     //alert(y[i].getAttribute('id')+": "+y[i].hasAttribute('required'));
     
          if (y[i].value == '' && y[i].hasAttribute('required') ) {
              // if(count1 == 0){
              //   count1=1;
              //   required1=y[i].style.top;
              //   }
               
               y[i].style="border: 1px solid red;";
            
            valid = false;
          }
          else{
                y[i].style="border: 1px solid black;";

           }
        }
        
        for (i = 0; i < z.length; i++) {
           // If a field is empty...
     
           if (z[i].value == '' && z[i].hasAttribute('required' ) ) {

            // if(count2 == 0){
            //     count2=1;
            //     required2=z[i].style.top;
                
            //     // alert("required2"+required2);
            //   }
            z[i].style="border: 1px solid red;";
               
          //   if(z[i].className=='textfieldUSER')
          //      z[i].className='textfieldUSERInvalid';
          //   else
          //     z[i].className='textfieldUSERinfoInvalid';
              
             valid = false;
            //z[i].scrollIntoView({ behavior: 'smooth', block:'nearest' });
           }
           else{
                z[i].style="border: 1px solid black;";

           }
         }
        //alert("valid:"+valid);
        if(!valid){
           current_step--;
   
         window.scrollTo({
          
          top:0, // Scrolls to 500 pixels from the top of the page
          behavior: 'smooth' // Optional: Adds a smooth scrolling animation
        });
      
      
      var alert_box=document.getElementById("alert");
      alert_box.style.display = "block";
      alert_box.style.opacity = "1";
      alert_message=document.getElementById("alert_message");
      alert_message.innerHTML ="দুঃখিত! লাল চিহ্নিত বক্সে সঠিক তথ্য দিতে হবে";
      //   setTimeout(function(){ x.className = x.className.replace("show", ""); }, 11000);
      //      var x = document.getElementById("toast-container");
      //                x.className = "toast-top-center";
      //                x.style.visibility="vissible"
  
      //                setTimeout(function(){ 
      //                    x.className = x.className.replace("toast-top-center","");
                        
                         
      //                 }, 8000);
                      
     
        }
         return valid; // return the valid status
     }
     
     
     
         });
         
     
  
     prevBtn.addEventListener('click', () => {
       if(current_step > 0){
          current_step--;
          let previous_step = current_step + 1; 
          prevBtn.classList.add('d-none');
          prevBtn.classList.add('d-inline-block');
          step[current_step].classList.remove('d-none');
          step[current_step].classList.add('d-block')
          step[previous_step].classList.remove('d-block');
          step[previous_step].classList.add('d-none');
          if(current_step < stepCount){
             submitBtn.classList.remove('d-inline-block');
             submitBtn.classList.add('d-none');
             nextBtn.classList.remove('d-none');
             nextBtn.classList.add('d-inline-block');
             prevBtn.classList.remove('d-none');
             prevBtn.classList.add('d-inline-block');
          } 
       }
  
       if(current_step == 0){
          prevBtn.classList.remove('d-inline-block');
          prevBtn.classList.add('d-none');
       }
      progress((100 / stepCount) * current_step);
     });
  
  
  /*submitBtn.addEventListener('click', () => {
      //preloader.classList.add('d-block');
  
       ///////////////////Submit student form Ajax code///////////////////
  
       var frm = $('#form-wrapper')[0];
       var form= new FormData(frm);
  
       var csrfToken = $('[name="csrfmiddlewaretoken"]').val();
  
       // Get the data from the form
      
  
       // Send AJAX request
       $.ajax({
           enctype: 'multipart/form-data',
           type: 'POST',
           url: "{% url 'admission_form_submit' %}",  // Adjust the URL as per your project structure
           data: form1,
           headers: {
               'X-CSRFToken': csrfToken
           },
           
           cache:false,
           processData:false,
           contentType:false,
          
           success: function (response) {
               
               //document.getElementById("student_form").reset();
               if (response.status === 'success') {
                   // Clear the form
                  
                  alert(response.status);
  
  
               } else {
                alert("Success message not found");
                       
                   }
                   
           },
           error: function (xhr, status, error) {
              
               var err = eval("(" + xhr.responseText + ")");
               alert(err.Message);
           }
       });
  
  
      //////////////////////////////////////////////////////////////////
      const timer = ms => new Promise(res => setTimeout(res, ms));
  
      timer(3000)
        .then(() => {
             bodyElement.classList.add('loaded');
        }).then(() =>{
            step[stepCount].classList.remove('d-block');
            step[stepCount].classList.add('d-none');
            prevBtn.classList.remove('d-inline-block');
            prevBtn.classList.add('d-none');
            submitBtn.classList.remove('d-inline-block');
            submitBtn.classList.add('d-none');
            succcessDiv.classList.remove('d-none');
            succcessDiv.classList.add('d-block');
        })
        
  });*/
  
  function fourthSubject(id){
    
    if(current_step==3){
      var compulsory_subject=document.getElementById('id_optional_subject_from');
      var selected_item = document.getElementById('id_fourth_subject');
        if(compulsory_subject.length==1){
  
          selected_item.value=compulsory_subject[0].value;
          //alert(compulsory_subject[0].value);
  
          return true;
        }
  
        
        
       
        
  
    }
  
  }
  function subjectChoice(id){
    alert("subjectChoice");
  
  }
  addChoiceBtn.addEventListener('change', () => {
      alert("subjectChoice");
  });
  
  </script>

  <script>
    function myFunctionTeacher(id){
      var csrfToken = $('[name="csrfmiddlewaretoken"]').val();
      
      var division=document.getElementById(id).value;
      //alert(id);
      //alert(division);
      var $j = jQuery.noConflict();
    
      url="{% url 'get_district'%}";
      //alert(url);
      
        $.ajax({
        type: 'POST',
        url: "{% url 'get_district'%}",  // Adjust the URL as per your project structure
        data: {"id":id, "value":division},
        headers: {
               'X-CSRFToken': csrfToken
           },
       
        success: function (response) {
         
             //document.getElementById("student_form").reset();
            if (response.status === 'success') {
              if(id === 'id_form-0-division'){
              $("#id_form-0-district option").remove();
              $("#id_form-0-district").append('<option '+'value="">'+ '-----------' +'</option>');
                    for (var i = response.district.length - 1; i >= 0; i--) {
                                  $("#id_form-0-district").append('<option '+'value="'+response.district[i].id+'">'+ response.district[i].name_en +'</option>');
                              }
                }
              if(id=='id_form-0-district'){
  
                $("#id_form-0-upazilla option").remove();
              $("#id_form-0-upazilla").append('<option '+'value="">'+ '-------------' +'</option>');
                    for (var i = response.district.length - 1; i >= 0; i--) {
                                  $("#id_form-0-upazilla").append('<option '+'value="'+response.district[i].id+'">'+ response.district[i].name_en +'</option>');
                              }
  
              }

              if(id=='id_form-1-division'){
              $("#id_form-1-district option").remove();
              $("#id_form-1-district").append('<option '+'value="">'+ '-----------' +'</option>');
                    for (var i = response.district.length - 1; i >= 0; i--) {
                                  $("#id_form-1-district").append('<option '+'value="'+response.district[i].id+'">'+ response.district[i].name_en +'</option>');
                              }
                }
              if(id=='id_form-1-district'){
  
                $("#id_form-1-upazilla option").remove();
              $("#id_form-1-upazilla").append('<option '+'value="">'+ '-------------' +'</option>');
                    for (var i = response.district.length - 1; i >= 0; i--) {
                                  $("#id_form-1-upazilla").append('<option '+'value="'+response.district[i].id+'">'+ response.district[i].name_en +'</option>');
                              }
  
              }
            } else {
             ///alert("Success message not found");
                    
                }
                
        },
        error: function (xhr, status, error) {
           
            // var err = eval("(" + xhr.responseText + ")");
            // alert(err.Message);
        }
    });
  
      
    } 
    </script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

      <script>
    
      $(document).ready(function () {
              
              $('#submit-btn').on('click', function () {
                alert_message=document.getElementById("alert_message");
                alert_message.innerHTML ="";
                var subjectCount=0;
                var compulsory_options;
                var options;
                var history_count=0;
                var birth_registration=document.getElementById('id_birth_registration');
                var father_nid=document.getElementById('id_father_nid');
                var mother_nid=document.getElementById('id_mother_nid');
                var ssc_cgpa_with_4th=document.getElementById('id_ssc_cgpa_with_4th');
                var ssc_cgpa_without_4th=document.getElementById('id_ssc_cgpa_without_4th');
                
                birth_registration_length=birth_registration.value.length;
                father_nid_length=father_nid.value.length;
                mother_nid_length=mother_nid.value.length;
                ssc_cgpa_with_4th=ssc_cgpa_with_4th.value;
                ssc_cgpa_without_4th=ssc_cgpa_without_4th.value;
                compulsory_options=document.getElementById('id_compulsory_subject_to').getElementsByTagName('option');
                subjectCount=compulsory_options.length;
                options=document.getElementById('id_optional_subject_to').getElementsByTagName('option');
                subjectCount=subjectCount+options.length;               
                document.getElementById('id_compulsory_subject_to').disabled='';
                try{
                options=document.getElementById('id_optional_subject_to').getElementsByTagName('option');
                var selected_4rth = document.getElementById('id_fourth_subject');
                var flag_submit=0;
                //alert(selected_4rth.value);
                
                if (options){
                for(i=0;i<options.length ;i++){
                  if(options[i].value==selected_4rth.value){
                    flag_submit=1;
                    break;
  
                  }
                  if(options[i].value== 15 || options[i].value==16 ){
                    history_count+=1;
                  }
                  
                options[i].selected = 'selected';
               }
              }
               if(selected_4rth.value == 15 || selected_4rth.value==16){
                    history_count+=1; 
                  }
                if(subjectCount <6 || subjectCount >6 || flag_submit==1 ){
                  flag_submit=1;
                 var alert_box=document.getElementById("alert");
                    alert_box.style.display = "block";
                    alert_box.style.opacity = "1";
                    alert_message=document.getElementById("alert_message");
                    alert_message.innerHTML +="<br>*যেকোন ৭ টি বিষয় নির্বাচন করতে হবে";
                  
                }
                if(history_count >= 2){
                  flag_submit=1;
                    var alert_box=document.getElementById("alert");
                    alert_box.style.display = "block";
                    alert_box.style.opacity = "1";
                    alert_message=document.getElementById("alert_message");
                    alert_message.innerHTML +="<br>*ইতিহাস ও ইসসালেমর ইতিহাস একই সাথে পছন্দ দেয়া যাবে না,যেকোন ৭ টি বিষয় নির্বাচন করতে হবে";
                }
                if(birth_registration_length < 13 || birth_registration_length > 17 || father_nid_length < 13 || father_nid_length > 17 || mother_nid_length < 13 || mother_nid_length > 17  ){
                  flag_submit=1;
                  var alert_box=document.getElementById("alert");
                    alert_box.style.display = "block";
                    alert_box.style.opacity = "1";
                    alert_message=document.getElementById("alert_message");
                    alert_message.innerHTML +="<br>*জন্ম নিবন্ধন  ও জাতীয় পরিচয়পত্র ১৩ অথবা ১৭ হতে হবে";
        
                }
                // if(ssc_cgpa_with_4th== null || ssc_cgpa_without_4th== null || ssc_cgpa_with_4th > 5 || ssc_cgpa_without_4th> 5){
                //   flag_submit=1;  
                //   var alert_box=document.getElementById("alert");
                //     alert_box.style.display = "block";
                //     alert_box.style.opacity = "1";
                //     alert_message=document.getElementById("alert_message");
                //     alert_message.innerHTML +="<br>*সিজিপিএ অবশ্যই ৫ বা তার কম হতে হবে";
                // }
                if (flag_submit==1){
                  return false;
                }

                }catch(err){
                   
                  var alert_box=document.getElementById("alert");
                    alert_box.style.display = "block";
                    alert_box.style.opacity = "1";
                    alert_message=document.getElementById("alert_message");
                    alert_message.innerHTML ="<br>* সঠিক ভাবে ফর্ম ";
          
                  return false;

                }
              //preloader.classList.add('d-block');
              var frm = $('#form-wrapper')[0];
              var form= new FormData(frm);
              var form1=document.getElementById('form-wrapper');
              form1.submit();
            /*  var csrfToken = $('[name="csrfmiddlewaretoken"]').val();
              //alert("hi");
  
              // Get the data from the form
             
         
              // Send AJAX request
       $.ajax({
                  enctype: 'multipart/form-data',
                  type: 'POST',
                  url: "{% url 'admission_form_submit' %}",  // Adjust the URL as per your project structure
                  data: form,
                  headers: {
                      'X-CSRFToken': csrfToken
                  },
                  
                  cache:false,
                  processData:false,
                  contentType:false,
                 
                  success: function (response) {
                      
                      //document.getElementById("student_form").reset();
                      if (response.status === 'success') {
                          // Clear the form
                          //alert(response.student)
                         $('#student_id').val(response.student);
                         //alert(response.status);
         
         
                      } else {
                       ///alert("Success message not found");
                              
                          }
                          
                  },
                  error: function (xhr, status, error) {
                     
                      var err = eval("(" + xhr.responseText + ")");
                      alert(err.Message);
                  }
              });
         
         
             //////////////////////////////////////////////////////////////////
             const timer = ms => new Promise(res => setTimeout(res, ms));
         
             timer(3000)
               .then(() => {
                    bodyElement.classList.add('loaded');
               }).then(() =>{
  
                   step[stepCount].classList.remove('d-block');
                   step[stepCount].classList.add('d-none');
                   prevBtn.classList.remove('d-inline-block');
                   prevBtn.classList.add('d-none');
                   submitBtn.classList.remove('d-inline-block');
                   submitBtn.classList.add('d-none');
                   succcessDiv.classList.remove('d-none');
                   succcessDiv.classList.add('d-block');
                   $('#download_form_id').attr('class','d-block')
                   
               }) */
              
              });
  ////////////////////Submit for admission form download/////////////////////
  
             
  
            });
          </script>
          
      
          {% endblock  %}