{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='https://fonts.googleapis.com/css?family=Libre Barcode 39' rel='stylesheet'>
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 275px;
  height:400px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
</style>
</head>
<body>

<h2>Card</h2>

<div class="card">
<div style="background-color:red;width:100%;text-align:center;color:white;font-weight:bold;">GOVT. MOJIBOR RAHMAN BHANDARI WOMEN'S COLLEGE</div>
<table style="background-color:pink;width:100%;text-align:center;color:white;font-weight:bold;" >
    <tr>
        <td align="center">
        <img src="{% static 'images/gmrwc_logo.png' %}" alt="Avatar" style="width:60px">
        <p style="line-height:0.01em">gmrwc.edu.bd</p>

</td>
    <td align="center">
        <img src="{% static 'images/gmrwc_logo.png' %}" alt="Avatar" style="width:100px">

</td>
</tr>
</table>
  
  <table class="container" style="font-size:15px">
    <tr colspan="2">
        <th style="text-align:center;">
            {{student.name}}
        </th>
    </tr>
    <tr>
        <td>
            Class:11-12
        </td>
        <td>
            Group: {{student.group}}
        </td>
    </tr>
    <tr>
        <td>
        Roll: {{student.class_roll}}
        </td>
        <td>
            Section: {{student.section}}
        </td>
    </tr>
    <tr>
        <td>
            Session: {{student.session}}
        </td>
        <td>
            Blood Group: {{student.blood_group}}
        </td>
    </tr>
    <tr>
        <td colspan="2">
            Father: {{student.guardian_info.father_name_en}}
        </td>
        
    </tr>
    <tr>
        <td colspan="2">
            Guardian's Mobile No. : {{ student.guardian_info.guardian_phone_no}}
        </td>
        
    </tr>
    <tr>
        <td style="font-size:10px;">
            Expiry Date: 30-06-2027
        </td>
        <td style="font-size:10px;">
            <img src="{% static 'images/principal_signature' %}">
            Principal Signature
        </td>
    </tr>
    <tr>
        <td  colspan="2" align="center">

<img src="https://barcode.tec-it.com/barcode.ashx?data={{student.class_roll}}&code=Code128&multiplebarcodes=false&translate-esc=true&unit=Fit&dpi=96&imagetype=Png&rotation=0&color=%23000000&bgcolor=%23ffffff&qualdensity=2" alt="Barcode">
        </td>
       
    </tr>
  </table>
</div>
<script>
    var barcode = new ej.barcode.BarcodeGenerator({
        width: '200px',
        height: '100px',
        type: 'Code128',
        value: '1234567890',
        displayText: true,
    });
    barcode.appendTo('#barcode');
</script>
</body>
</html> 
